@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 8px;
    border-radius: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #868686;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

input[type="number"] {
    text-align: right;
}

#deleteWarning {
    display: none;
}

.pagination-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.custom-checkbox {
    position: relative;
    width: 50px;
    height: 10px;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-checkbox label {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 18px;
    border-radius: 50px;
    background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-checkbox label:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.custom-checkbox input[type="checkbox"]:checked + label {
    background: linear-gradient(to bottom, #6e46b9, #6e46b9);
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
    transform: translateX(20px);
}

.custom-checkbox label:hover {
    background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
}

.custom-checkbox label:hover:after {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.input-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 10px;
}

.nav-link:hover,
.nav-link:focus {
    outline: none;
    border: none;
}